<!doctype html>
<html>
    <head>
        <title>Pivotal AX: Backbone + Marionette = $_$;</title>

        <script src="/backbone/js/lib/jquery.js"></script>
        <script src="/backbone/js/lib/json2.js"></script>
        <script src="/backbone/js/lib/underscore.js"></script>
        <script src="/backbone/js/lib/backbone.js"></script>
        <script src="/backbone/js/lib/backbone.marionette.js"></script>
        <script src="/backbone/js/application.js"></script>
    </head>
    <body>
        <div id="content"></div>

        <script type="text/template" id="charts-template">
            <ul></ul>
        </script>

        <script type="text/template" id="chart-template">
            <li></li>
        </script>
    </body>
</html>